@use '../stuff/mixins' as *;

footer{
padding-top: 50px;
padding-bottom: 150px;

    .footer-wrap{
        @include flex-center(row, space-between, center);

        .footer-logo{
            @include flex-center(row, flex-start, center, 190px);
        }

        .footer-links{
            @include flex-center (row, center, center, 10px);
        }
    }
    
    .footer-logo-mobile{
        display: none;

        margin: 0 auto;
    }
}

