// TOP SECTION

@use '../stuff/mixins'as *;

.top-section {
    margin-top: 20px;
    margin-bottom: 100px;

    @include flex-center(row, space-between, stretch, 20px);

    .top-section-block {
        @include flex-center(column, center, center, 40px);

        padding: 50px;

        &-text {
            @include flex-center(column, center, center, 5px);
        }
    }

    &-img {
        flex: 1;

        img {
            height: 100%;
        }
    }
}

.top-section-mobile {
    display: none;

    padding: 25px 20px;
    margin-bottom: 40px;

    &-pic {
        width: 100%;

        img {
            width: 100%;
        }

    }

    &-text {
        align-self: flex-start
    }

    &-btn {
        @include flex-center(row, center, flex-start, 15px);

        height: 45%;

        &-btn {
            width: 50%;

            .buy {
                margin-left: 0;
            }

        }

        &-img {
            width: 50%;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}

// FEST SECTION

.fest {
    margin-bottom: 100px;

    .fest-wrap {
        @include flex-center(row, space-between, stretch, 20px);

        &-block {
            @include flex-center(column, center, center, 30px);

            padding: 50px;

            width: 50%;

            span {
                font-weight: 700;
            }
        }

        &-img {
            width: 50%;

            img {
                height: 100%;
                width: 100%;
            }
        }
    }
}

// VIDEO

.video {
    @include flex-center(row, space-between, center, 20px);

    border-radius: 100px;

    margin-bottom: 60px;

    .video-pic {
        position: relative;
        width: 100%;
        height: 600px;

        overflow: hidden;

        border-radius: 100px;

        .active {
            opacity: 1;
        }

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            opacity: 0;
            transition: opacity 0.5s ease;
        }
    }
}

// PROGRAMM

.programm {
    margin-bottom: 100px;

    &-wrap {
        @include flex-center(column, center, center, 20px);

        &-date {
            @include flex-center(row, flex-start, center, 50px);

            li {
                padding: 12px 12px 12px 0;
            }

            span {
                margin-left: 50px;
            }
        }
    }
}

// TICKETS

.tickets {
    position: relative;
    margin-bottom: 100px;

    &-wrap {
        @include flex-center(row, space-between, center, 20px);

        margin-bottom: 50px;

        &-date {
            @include flex-center(column, space-between, start, 30px);

            .tickets-date-text h4 {
                margin-bottom: 10px;
            }

            .tickets-date-ticket {
                @include flex-center(column, flex-start, stretch, 30px);

                width: 100%;

                &-person {
                    @include flex-center(row, space-between, flex-start, 30px);

                    .tickets-date-ticket-text h4 {
                        margin-bottom: 10px;
                    }

                    .tickets-date-ticket-count {
                        @include flex-center(row, center, flex-start, 10px);
                        gap: 10px;

                        p {
                            margin-top: 3px;
                            font-weight: 600;
                        }
                    }
                }
            }
        }
    }
}

.buy-form {
    display: none;

    // @include flex-center(column, center, center, 30px);

    padding: 50px;

    width: 55%;
    height: 100%;

    position: absolute;
    top: 5%;
    right: 23%;

    background: var(--color-white);

    .buy-form-list {
        @include flex-center(column, center, center, 30px);

        input {
            width: 100%;
            padding: 20px;

            background: var(--color-pink);
            color: var(--color-black);

            border-radius: 50px;
            border: none;

            font-size: 20px;
        }
    }
}

.buy-form.active {
    @include flex-center(column, center, center, 30px);
}


// FAQ

.faq {
    margin-bottom: 100px;

    .faq-item-title-text {
        @include flex-center(row, space-between, center);

        margin-top: 30px;

        .faq-item-text {
            font-weight: 600;
        }
    }

    .faq-item-text-hidden {
        margin-top: 20px;

        // display: none;

        // max-height: 0;
        // opacity: 0;

        transition: opacity 1s ease, max-height 0.3s ease;
    }
}

// CONTACTS

.contacts {
    margin-bottom: 100px;

    .map {
        width: 100%;
        height: 670px;

        border: none;
        border-radius: 100px;

        filter: grayscale(100%);
    }
}